{% extends 'base.html' %}

{% block content %}
    <h2 class="govuk-heading-xl">Accessibility Statement for the UK Global Tariff</h2>

    <h3 class="govuk-heading-l" id="using-this-online-service">Using this online service</h3>
    <p class="govuk-body">This online service is run by the Department for International Trade. We want as many people as possible to be able to use this online service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 150% without the text spilling off the screen</li>
        <li>navigate the service using just a keyboard</li>
        <li>use the service with and without JavaScript</li>
    </ul>
    <p class="govuk-body">We’ve also made the text as simple as possible to understand.</p>
    <p class="govuk-body"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h3 class="govuk-heading-l" id="about-the-accessibility-of-this-service">About the accessibility of this service</h3>
    <p class="govuk-body">We used components in the GOV.UK Design System to build this service. The <a class="govuk-link" href="https://design-system.service.gov.uk/accessibility/">Design System accessibility guide</a> explains the current state of accessibility for these components.</p>
    <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>some links are not accessible using speech recognition software</li>
        <li>some links on the site are not accessible to screen readers</li>
        <li>the text will not reflow in a single column when you change the size of the browser window</li>
    </ul>

    <h3 class="govuk-heading-l" id="about-the-future-of-this-service">About the future accessibility of this service</h3>
    <p class="govuk-body">We are in the process of arranging a full WCAG 2.1 audit for this online service.</p>
    <p class="govuk-body">We will update this statement once we’ve received the WCAG 2.1 audit report. In the meantime, we have done some basic checks, and addressed the issues that were flagged.</p>
    <p class="govuk-body">Future accessibility features:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>listen to the service in full using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
        <li>navigate the whole service, including links, using speech recognition software</li>
    </ul>
    <p class="govuk-body">We plan to have these features available by December 2020.</p>

    <h3 class="govuk-heading-l" id="what-to-do-if-you-cant-access-part-of-this-service">What to do if you can’t access part of this service</h3>
    <p class="govuk-body">If you need information on this website in a different format, you can request support in the following ways</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>email <a class="govuk-link" href="mailto:ukglobaltariff@uktrade.zendesk.com">ukglobaltariff@uktrade.zendesk.com</a></li>
    </ul>
    <p class="govuk-body">We plan to have these features available by December 2020.</p>

    <h4 class="govuk-heading-m" id="reporting-accessibility-problems">Reporting accessibility problems</h4>
    <p class="govuk-body">We’re always looking to improve the accessibility of this online service.</p>
    <p class="govuk-body">If you find any problems that aren’t listed on this page or think we’re not meeting the requirements of the accessibility regulations, contact: <a class="govuk-link" href="mailto:help@digital.trade.gov.uk">help@digital.trade.gov.uk</a> giving details of the issue and any assistive technology you are using.</p>

    <h4 class="govuk-heading-m" id="enforcement-procedure">Enforcement procedure</h4>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you’re not happy with how we respond to your complaint, contact the <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

    <h3 class="govuk-heading-l" id="technical-information-about-this-services-accessibility">Technical information about this service’s accessibility</h3>
    <p class="govuk-body">The Department for International Trade is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p class="govuk-body">This online service is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliance issues listed on this page.</p>

    <h4 class="govuk-heading-m" id="issues-with-interactive-tools-and-transactions">Issues with interactive tools and transactions</h4>
    <p class="govuk-body">There are known issues with the GOV.UK Design System, as explained in the Design System accessibility guide. We will update our service with any accessibility fixes once they are released to the GOV.UK Design System.</p>

    <h3 class="govuk-heading-l" id="what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</h3>
    <p class="govuk-body">We are in the process of arranging a full WCAG 2.1 audit of this online service. We will then update this statement and aim to implement any changes by December 2020.</p>

    <h3 class="govuk-heading-l" id="preparation-of-this-accessibility-statement">Preparation of this accessibility statement</h3>
    <p class="govuk-body">This statement was prepared on 5 June 2020. It was last reviewed on 9 June 2020.This website was last tested on 5 June 2020. These tests were carried out by the Department for International Trade.</p>
    <p class="govuk-body">Basic manual and automated tests were carried out. The service was tested from start to finish with keyboard testing and zooming in to 300%. The service was also tested with a screen reader.</p>
    
{% endblock %}
